* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e2e2e2;
}

.cabecalho{
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    min-height: 20vh;
}

.icon {
    max-width: 150px;
    width: 8%;
    min-width: 60px;
}

.conteudo {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-div {
    width: 95%;
    max-width: 800px;
    border-radius: 14px;
    background-color: #f7f5f0;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.Titulo {
    text-align: center;
    padding: 24px;
    background: linear-gradient(90deg, #0cbff5, #0cf5e9); 
    font-size: 30px;
    color: #333;      
}

.form{
    padding: 18px;
}

.formulario {
    padding-bottom: 2px;
}

label {
    margin-bottom: 5px;
    font-size: 20px;
    display: block;
    color: #333;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 8px;
    border: 1px solid #0cbff5;
    border-radius: 10px;
}

a {
    visibility:hidden;
}

button {
    margin-top: 10px;
    width: 100%;
    padding: 12px;
    background-color: #0ab1db;
    border: none;
    border-radius: 14px;
    color: #e2e2e2;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0cf5e9;
    transition: 1s;
    color: #333;
}

.formulario.error input {
    border-color: red;
}

.formulario.error a {
    border-color: red;
    visibility: visible;
    color: red;
}