{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
    <link rel="stylesheet" href='{% static "css/usuarios.css" %}'>
</head>
<body>
    <header class="cabecalho">
        <img class="icon" src='{% static "images/coracao2.png" %}' alt="Ícone de coração">
        <nav class="menu">
            {% if usuarios %}
                <a class="nome">{{ usuarios.0.Nome }}</a> 
                <a href="{% url 'perfil_usuario' usuarios.0.id_usuario %}"><button class="perfil">Perfil</button></a>
            {% endif %}
        </nav>
    </header>

    <main class="conteudo-tabela">
        <div class="tabela">
            <section class="Titulo">
                <h3>Consultas</h3>
            </section>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Hora</th>
                            <th>Médico</th>
                            <th>Especialidade</th>
                            <th>Local</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if consultas %}
                            {% for consulta in consultas %}
                                <tr onclick="window.location.href='{% url 'consultainfo' consulta.id %}'">
                                    <td>{{ consulta.data|date:"d/m/Y" }}</td>
                                    <td>{{ consulta.hora|time:"H:i" }}</td>
                                    <td>{{ consulta.medico }}</td>
                                    <td>{{ consulta.especialidade }}</td>
                                    <td>{{ consulta.local }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5">Nenhuma consulta marcada.</td>
                            </tr>
                        {% endif %}
                    </tbody>                    
                </table>
            </div>
        </div>
    </main>    

    <footer class="rodape">
        <p>Para confirmar, cancelar, reagendar ou checar endereço, selecione um item da tabela.</p>
    </footer>
</body>
</html>